# ===== Python cache =====
__pycache__/
*.py[cod]

# ===== Virtual environments =====
venv/
.venv/
env/
ENV/

# ===== PyInstaller =====
build/
dist/
*.spec

# ===== Runtime outputs =====
outputs/

# ===== Models (large files) =====
models/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.spyderproject
.spyproject
.idea/
.vscode/

# ===== Logs =====
*.log

/outputs

*.log